<!-- _RequestTablePartial.cshtml -->
@model IEnumerable<Group5.Models.Base.RequestBase>

<table class="table table-cl" id="ReceivedRequest">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <img src="~/images/@item.RequestBy?.Avatar" style="width:40px ; height:60px">
                    @Html.DisplayFor(modelItem => item.RequestBy!.FullName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>


                    @if (@item.RequestStatus?.Status == "Rejected")
                    {
                        <a class="btn btn-danger"> @Html.DisplayFor(modelItem => item.RequestStatus.Status)</a>
                    }
                    else if (@item.RequestStatus?.Status == "Approved")
                    {
                        <a class="btn btn-success">@item.RequestStatus?.Status</a>
                    }
                    else if (@item.RequestStatus?.Status == "Wait For Approvement")
                    {
                        <a class="btn btn-warning">@item.RequestStatus?.Status</a>
                    }
                    else
                    {
                        <a class="btn btn-info">@item.RequestStatus?.Status</a>
                    }
                </td>
                <td>
                    @if (item.Id < 999990)
                    {
                        <a asp-action="RequestDetail" asp-controller="Request" asp-route-id="@item.Id">
                            <button class="btn btn-danger lightgreen-icon-notika btn-reco-mg btn-button-mg"><i class="notika-icon notika-menus"></i>SEE DETAIL</button>
                        </a>

                    }
                    else
                    {
                        <a asp-action="NewRequestDetail" asp-controller="Request" asp-route-id="@item.Id">
                            <button class="btn btn-danger lightgreen-icon-notika btn-reco-mg btn-button-mg"><i class="notika-icon notika-menus"></i>SEE DETAIL</button>
                        </a>

                    }


                </td>
            </tr>
        }
    </tbody>
</table>